---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <h1>Hola, mundo!</h1>
</Layout>

<style>
  body {
    background-color: #121212;
    color: white;
  }
  h1 {
    text-align: center;
  }
</style>
