---
import Layout from "../layouts/Layout.astro"
---

<Layout>
  <main
    class="bg-slate-950 text-white w-full h-full flex justify-center items-center"
  >
    <h1 class="text-3xl font-bold">Hola, mundo!</h1>
  </main>
</Layout>
